// Mixins Here
.custom-button(@bg-color, @font-color, @font-size, @border-radius, @padding, @margin){
    background-color: @bg-color;
    color: @font-color;
    font-size: @font-size;
	border-radius: @border-radius;
	padding: @padding;
    margin: @margin;
    width: 12rem;
}

.nav-bar-spacing{
    margin-top:1.5rem;
    margin-bottom:1.2rem;
}

.nav-text-styling{
    font-family: "Russo One";
    font-size: 40px;
    color: darken(#23293b, 1%);
}